.heroContainer {
    padding-top: 100px;
    padding-bottom: 60px;
    position: relative;
}

.heroCard {
    position: absolute;

    height: 100%;
    width: auto;
    top: 0;
}

.heroCard0 .heroCard {
    left: 0;
}

.heroCard1 .heroCard {
    right: 10%;
}

.heroCard2 .heroCard {
    right: 0;
}

.heroItems {
    position: relative;
}

@media (max-width: 600px) {
    .heroContainer.heroCard2 {
        padding-bottom: 100px;
    }

    .heroCard2 .heroCard {
        top: unset;
        height: unset;

        bottom: 0;
        width: 150px;
        right: 0;
    }
}