.featureNotesRoot {
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-template-rows: max-content 1fr;
    gap: 9px 9px;
    grid-template-areas:
        "image title"
        "image notes";
    align-items: start;

    padding-top: 9px;
    padding-bottom: 9px;
}

.right {
    grid-template-columns: 1fr 30%;
    grid-template-areas:
        "title image"
        "notes image";
}

.image {
    grid-area: image;
}

.title {
    grid-area: title;
}

.notes {
    grid-area: notes;
}

@media (max-width: 600px) {
    .featureNotesRoot, .featureNotesRoot.right {
        grid-template-rows: max-content max-content max-content;
        grid-template-columns: 1fr;
        grid-template-areas:
            "image"
            "title"
            "notes";
    }
}